<html>
    <head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>kiss.js example</title>
        <script src="/js/jquery.js"></script>
		{+head/}
    </head>
    <body>
    	<div style="height: 100%">
    		<div id="header">
				<h1>kiss.js example - {+header}{/header}</h1>
				{+header_buttons}{/header_buttons}
			</div>
			<div id="content">
				{+content}{/content}
			</div>
			<div id="footer">
				<table>
					<tr>
						<td>
							&nbsp;&nbsp;
						</td>
						<td style="width: 100%; text-align: center;">made with kiss.js</td>
						<td>{+footer_buttons}{/footer_buttons}</td>
					</tr>
				</table>
			</div>
    	</div>
    </body>
</html>
