border-radius() {
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
}

body a {
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif;
  background: black;
  color: #ccc;
  border-radius: 10px;
}

form input {
  padding: 5px;
  border: 1px solid;
  border-radius: 0.6px;
}
/*lala*/

