<html>
    <head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>kiss.js chat example</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script src="/nowjs/now.js"></script>
		<script>
			$(document).ready(function()
			{
			  now.name = "user";
			  $("#send-button").click(function(){
				now.distributeMessage($("#text-input").val());
				$("#text-input").val("");
			  });
			  now.receiveMessage = function(name, message){
				$("#messages").append("<br>" + name + ": " + message);
			  }
			});
		</script>
    </head>
    <body>
		<div id="messages"></div>
		<input type="text" id="text-input"/>
		<input type="button" value="Send" id="send-button"/>
    </body>
</html>
