<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
        <title>Чат с использованием Kiss.js и Now.js, Фельдман Станислав, 2011</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.min.css" />
        <style>
        	body { background: #CCC;}
        </style>
        <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
		<script> 
		    $(document).bind("mobileinit", function(){
		        $.extend($.mobile, {
		            loadingMessage: "Загрузка...",
		            pageLoadErrorMessage: "Страница не найдена =("
		        });
		    $.mobile.page.prototype.options.backBtnText = "Назад";
		    $.mobile.listview.prototype.options.filterPlaceholder = "Найти...";
			$.mobile.selectmenu.prototype.options.nativeMenu = false;             
		    });
		</script> 
		<script src="http://code.jquery.com/mobile/latest/jquery.mobile.min.js"></script>
		<script src="/nowjs/now.js"></script>
		<script src="/js/main.js"></script>
    </head>
    <body>
    	<div id="chat_page" data-role="page" data-theme="b" style="height: 100%">
			<div data-id="header" data-role="header" data-theme="b" data-position="fixed">
				<h1>Чат с использованием Kiss.js и Now.js, Фельдман Станислав, 2011</h1>
			</div>
			<div data-role="content">
				<ul data-role="listview" data-inset="true">
					<li>
						<div data-role="fieldcontain"> 
							<label for="text-input">Имя:</label>
							<input type="text" id="username"/>
						</div> 
					</li>
				</ul>
				<ul data-role="listview" data-inset="true">
					<li>
						<div data-role="fieldcontain"> 
							<label for="text-input">Сообщение:</label>
							<input type="text" id="text-input"/>
							<input type="button" value="Послать" id="send-button"/>
						</div> 
					</li>
				</ul>
				<ul data-role="listview" data-inset="true" id="messages"></ul>
			</div>
		</div>
    </body>
</html>
